* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body .containar {
	position: relative;
	width: 100%;
	height: 200vh;
	font-family: 'Poppins', sans-serif;
}

body .containar .section-1 {
	position: relative;
	height: 100vh;
	background-image: url(imgs/bg-1.svg);
	background-size: cover;
	background-position: center;
}

body .containar .section-1 .content {
	padding-left: 5em;
}

body .containar .section-1 .content h1 {
	position: relative;
	font-size: 3.5em;
	line-height: 6;
	color: #361a61;
}

/*
body .containar .section-1 .content h1::before {
	content: '';
	position: absolute;
	width: 90px;
	height: 90px;
	background-image: url(imgs/covid.svg);
	background-size: cover;
	background-position: center;
}
*/

body .containar .section-1 .content h1 span {
	position: relative;
	z-index: 0;
}

body .containar .section-1 .content h1 span::before {
	position: absolute;
	content: '';
	width: 105%;
	height: 60px;
	bottom: 10px;
	right: -5px;
	transform: skewy(-1deg);
	background-color: #94EAFF;
	opacity: .8;
	z-index: -1;
}

body .containar .section-1 .content h3 {
	font-size: 1.5em;
	font-weight: 500;
	line-height: 2;
	color: #361a61;
}

body .containar .section-1 .content a {
	display: block;
	width: 140px;
	height: 45px;
	color: #fff;
	border-radius: 25px;
	text-align: center;
	line-height: 45px;
	background-color: #361a61;
	text-decoration: none;
	transition: opacity .5s;
}

body .containar .section-1 .content a:hover {
	opacity: .8;
}

body .containar .section-2 {
	position: relative;
	height: 100vh;
	background-image: url(imgs/bg-2.svg);
	background-size: cover;
	background-position: center;
}

body .containar .section-2 .content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body .containar .section-2 .content h1 {
	font-size: 3em;
	line-height: 5;
	color: #361a61;
}

body .containar .section-2 .content .status {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

body .containar .section-2 .content .status .border {
	width: 260px;
	height: 340px;
	border: 2px solid #361a61;
	border-radius: 5px;
	text-align: center;
}

body .containar .section-2 .content .status .border h3 {
	font-weight: 400;
	font-size: 27px;
	margin: 25px 0 75px 0;
	color: #361a61;
}

body .containar .section-2 .content .status .border .counter {
	font-size: 45px;
	font-weight: 600;
	color: #361a61;
}

/****************************************************************************************/

@media (max-width: 800px) {

	body .containar .section-1 {
		position: relative;
		height: 100vh;
		background-image: url(imgs/bg-1-2.svg);
		background-size: cover;
		background-position: center;
	}

	body .containar .section-1 .content h1 {
		font-size: 2.5em;
		line-height: 4;
		margin-top: 3em;
	}

	body .containar .section-1 .content h1 span::before {
		height: 45px;
		bottom: 4px;
		right: -4px;
	}

	body .containar .section-1 .content h3 {
		font-size: 1.5em;
		line-height: 3;
	}

	body .containar .section-1 .content a {
		width: 125px;
		height: 40px;
		line-height: 40px;
		font-size: 1em;
	}

	body .containar .section-2 {
		position: relative;
		height: 100vh;
		background-image: url(imgs/bg-2.svg);
		background-size: cover;
		background-position: center;
	}

	body .containar .section-2 .content h1 {
		font-size: 2.5em;
		line-height: 5;
	}

	body .containar .section-2 .content .status .border {
		width: 210px;
		height: 290px;
		margin-bottom: 2em;
	}

	body .containar .section-2 .content .status .border h3 {
		font-weight: 500;
		font-size: 20px;
	}

	body .containar .section-2 .content .status .border .counter {
		font-size: 40px;
	}
}

/****************************************************************************************/

@media (max-width: 425px) {

	body .containar .section-1 {
		position: relative;
		height: 100vh;
		background-image: url(imgs/bg-1-ml.svg);
		background-size: cover;
		background-position: center;
	}

	body .containar .section-1 .content {
		padding-left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	body .containar .section-1 .content h1 {
		font-size: 2em;
		line-height: 4;
		margin-top: 3em;
	}

	body .containar .section-1 .content h1 span::before {
		height: 35px;
		bottom: 4px;
		right: -4px;
	}

	body .containar .section-1 .content h3 {
		font-size: 1.5em;
		line-height: 3;
	}

	body .containar .section-1 .content a {
		width: 125px;
		height: 40px;
		line-height: 40px;
		font-size: 1em;
	}

	body .containar .section-2 {
		position: relative;
		height: 100vh;
		background-image: url(imgs/bg-2-ml.svg);
		background-size: cover;
		background-position: center;
	}

	body .containar .section-2 .content h1 {
		font-size: 2em;
		line-height: 5;
	}

	body .containar .section-2 .content .status {
		flex-direction: column;
		align-items: center;
	}

	body .containar .section-2 .content .status .border {
		width: 210px;
		height: 290px;
		margin-bottom: 2em;
	}

	body .containar .section-2 .content .status .border h3 {
		font-weight: 500;
		font-size: 20px;
	}

	body .containar .section-2 .content .status .border .counter {
		font-size: 40px;
	}
}

/****************************************************************************************/

@media (max-width: 375px) {

	body .containar .section-1 {
		position: relative;
		height: 100vh;
		background-image: url(imgs/bg-1-mm.svg);
		background-size: cover;
		background-position: center;
	}

	body .containar .section-1 .content {
		padding-left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	body .containar .section-1 .content h1 {
		font-size: 1.5em;
		line-height: 4;
		margin-top: 3em;
	}

	body .containar .section-1 .content h1 span::before {
		height: 26px;
		bottom: 4px;
		right: -4px;
	}

	body .containar .section-1 .content h3 {
		font-size: 1.3em;
		line-height: 3;
	}

	body .containar .section-1 .content a {
		width: 100px;
		height: 30px;
		line-height: 30px;
		font-size: .7em;
	}

	body .containar .section-2 {
		position: relative;
		height: 100vh;
		background-image: url(imgs/bg-2.svg);
		background-size: cover;
		background-position: center;
	}

	body .containar .section-2 .content h1 {
		font-size: 1.5em;
		line-height: 5;
	}

	body .containar .section-2 .content .status {
		flex-direction: column;
		align-items: center;
	}

	body .containar .section-2 .content .status .border {
		width: 210px;
		height: 290px;
		margin-bottom: 2em;
	}

	body .containar .section-2 .content .status .border h3 {
		font-weight: 500;
		font-size: 20px;
	}

	body .containar .section-2 .content .status .border .counter {
		font-size: 40px;
	}
}

/****************************************************************************************/

@media (max-width: 320px) {

	body .containar .section-1 {
		position: relative;
		height: 100vh;
		background-image: url(imgs/bg-1-1.svg);
		background-size: cover;
		background-position: center;
	}

	body .containar .section-1 .content {
		padding-left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	body .containar .section-1 .content h1 {
		font-size: 1.5em;
		line-height: 4;
		margin-top: 3em;
	}

	body .containar .section-1 .content h1 span::before {
		height: 26px;
		bottom: 4px;
		right: -4px;
	}

	body .containar .section-1 .content h3 {
		font-size: 1.3em;
		line-height: 3;
	}

	body .containar .section-1 .content a {
		width: 100px;
		height: 30px;
		line-height: 30px;
		font-size: .7em;
	}

	body .containar .section-2 {
		position: relative;
		height: 100vh;
		background-image: url(imgs/bg-2.svg);
		background-size: cover;
		background-position: center;
	}

	body .containar .section-2 .content h1 {
		font-size: 1.5em;
		line-height: 5;
	}

	body .containar .section-2 .content .status {
		flex-direction: column;
		align-items: center;
	}

	body .containar .section-2 .content .status .border {
		width: 210px;
		height: 290px;
		margin-bottom: 2em;
	}

	body .containar .section-2 .content .status .border h3 {
		font-weight: 500;
		font-size: 20px;
	}

	body .containar .section-2 .content .status .border .counter {
		font-size: 40px;
	}
}
